# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries used by Data Scientists
- List examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are: <br>1. Python <br>2. R <br>3. SQL

Some of the commonly used libraries used by Data Scientists include: <br>1. pandas <br>2. numpy <br>3. matplotlib <br>4. scikit-learn

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Beryl Abey Thomas